<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(INFOPLIST_KEY_CFBundleDisplayName)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>$(INFOPLIST_KEY_LSApplicationCategoryType)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>AmplitudeApiKey</key>
	<string>$(AMPLITUDE_API_KEY)</string>
	<key>AppGitHubURL</key>
	<string>$(APP_GITHUB_URL)</string>
	<key>AppShortDescription</key>
	<string>$(APP_SHORT_DESCRIPTION)</string>
	<key>SentryDsn</key>
	<string>https://$(SENTRY_DSN_REMAINDER)</string>
	<key>DeveloperEmail</key>
	<string>$(DEVELOPER_EMAIL)</string>
	<key>DeveloperName</key>
	<string>$(DEVELOPER_NAME)</string>
	<key>DeveloperWebsiteURL</key>
	<string>$(DEVELOPER_WEBSITE_URL)</string>
	<key>SUFeedURL</key>
	<string>https://$(SPARKLE_APPCAST_URL_REMAINDER)</string>
	<key>SUPublicEDKey</key>
	<string>$(SPARKLE_ED_PUBLIC_KEY)</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SwiftLanguageVersion</key>
	<string>$(SWIFT_VERSION)</string>
	<key>XcodeVersion</key>
	<string>$(XCODE_VERSION_ACTUAL)</string>
</dict>
</plist>
